/* Bootstrap tweaks */
body {padding-top: 60px;}
#footer {margin-top: 30px;}
.navbar-form select {width: auto;}
.nav-stacked {width: 210px;}
.nav-stacked .icon-chevron-right {float: right; opacity: 0.25}
.nav-stacked .icon-white {opacity: 1;}
.nav-stacked > .active > a, .nav-stacked > .active > a:hover {background: #0088cc; color: #ffffff;}

/* League/form tables */
.matchday {font-weight: bold; border-top: 0 !important;}
.form {font-family: Courier New, monospace;}
.date {padding-right: .5em; white-space: nowrap;}
.hometeam {text-align: right !important;}
.hotspot {border-bottom: 1px dotted #888888; cursor: pointer;}
.hotspot:hover {color: #990000;}
.negative {color: #660000;}
.opposition {padding: 0 1em; white-space: nowrap;}
.outcome {font-family: Courier New, monospace; text-align: center; padding-left: .5em;}
.points {font-weight: bold;}
.adjustment {position: absolute; vertical-align: super; color: #444444; font-weight: normal; font-size: smaller; margin-top: -.3em;}
.position {padding-right: 1em;}
.positive {color: #006600;}
.score {font-weight: bold; padding: 0 .75em; white-space: nowrap; text-align: center !important;}
.scorers {padding-left: 1em;}
.scorer {white-space: nowrap;}

/* Results/Records */
#totals .number,.sequence .number, #scorers .number, #topscorers .number, #penalties .number {font-weight: bold; text-align: right;}

/* Sortables */
.sortable th {cursor: pointer; text-align: center;}
.sortable .number {text-align: center;}
th.sorttable_nosort {cursor: default;}
.nosortindicator #sorttable_sortrevind {display: none;} /* Don't show triangle for default order. */

/* Popovers */
.popover {max-width: 400px;}
